<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include("./common/head.ejs") %>
  <link rel='stylesheet' href='/css/index.css' />
</head>

<body>
  <div class="jumbotron text-center">
    <h1><%= title %></h1>
  </div>
  <%- include("./common/header.ejs"); %>


  <div class="banner_box">
    <img src="img/busan.jpg" class="banner">
  </div>





  <%- include("./common/foot.ejs") %>
</body>

</html>