<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include("./common/head.ejs") %>
  <link rel='stylesheet' href='/css/mypage.css' />
</head>

<body>

  <header class="header">
    <%- include("./common/header.ejs"); %>
  </header>


  <div class="container_box">
    <div class="wrap bg">

      <div class="user bg">
        <div class="user_info">
          <img src="/img/myimg.jpg" alt="" class="my_img">
          <h3 class="my_img_name">최율겸</h3>

        </div>
        <div class="user_contact">
          <div><i class="fas fa-mobile-alt user_icon"></i>
            <span>접속정보</span>
          </div>
          <div class="user_contact_info">
            <div class="contact_info">이름 : <%= sess.profile.name %></div>
            <div class="contact_info">이메일 : <%= sess.profile.email %></div>
            <div class="contact_info user_code">유저코드 : <%= sess.profile.userCode %></div>
            <div class="signout_area">
              <button class="btn btn-danger" id="signoutBtn">Sign Out</button>
            </div>
          </div>
        </div>
      </div>

      <div class="message bg">
        <div><i class="fas fa-comments user_icon"></i></div>
        <div class="message_text">Coming soon</div>

      </div>



    </div>

  </div>






  <!-- <div class="container">
    <div class="info_area">
      <div>이름 : <%= sess.profile.name %></div><br>
      <div>이메일 : <%= sess.profile.email %></div><br>
      <div>유저코드 : <%= sess.profile.userCode %></div>
    </div>

    
  </div> -->






  <%- include("./common/foot.ejs") %>
  <script>
    const signoutBtn = el("signoutBtn");
    signoutBtn.addEventListener("click", () => {
      const isTrue = confirm("Are you Sure?");
      if (isTrue) {
        axios.post("/auth/api/signout").then(response => {
          const data = response.data;
          if (data.result === 1) {
            alert(`GoodBye, ${data.name}`);
            window.location.href = "/logout"
          } else {
            alert("Fail to Signout...");
          }
        })
      }
    })
  </script>
</body>

</html>