<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include("./common/head.ejs") %>
  <link rel='stylesheet' href='/css/mypage.css' />
</head>

<body>
  <div class="jumbotron text-center">
    <h1><%= title %></h1>
  </div>
  <%- include("./common/header.ejs"); %>


  <div class="container">
    <div class="info_area">
      <div>이름 : <%= sess.profile.name %></div><br>
      <div>이메일 : <%= sess.profile.email %></div><br>
      <div>유저코드 : <%= sess.profile.userCode %></div>
    </div>

    <div class="signout_area">
      <button class="btn btn-danger" id="signoutBtn">Sign Out</button>
    </div>
  </div>




  <%- include("./common/foot.ejs") %>
  <script>
    const signoutBtn = el("signoutBtn");
    signoutBtn.addEventListener("click", () => {
      const isTrue = confirm("Are you Sure?");
      if (isTrue) {
        axios.post("/auth/api/signout").then(response => {
          const data = response.data;
          if (data.result === 1) {
            alert(`GoodBye, ${data.name}`);
            window.location.href = "/logout"
          } else {
            alert("Fail to Signout...");
          }
        })
      }
    })
  </script>
</body>

</html>